.container {
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    margin-bottom: 1rem;
    min-height: 4rem;
}

.ad-text {
    color:black;
    font-size: 1.1rem;
}

.price-text {
    font-weight: 800;
    font-size: 1.3rem;
}

.badge-me {
    background-color: #e50914;
    border-radius: 17px;
    color: #fff;
    font-size: .8rem;
    font-weight: 600;
    margin: 0.5rem 1rem;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
}

.button-element {
    display: flex;
    font-weight:700;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: inherit;
}

.learn-button-container {
    border: 0;
    color: #0071eb;
    margin-left: 0;
    box-shadow: none;
    font-weight: 600;
    padding-left: 1rem;
}