* {
  letter-spacing: 0!important;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
  color: #333;
  direction: ltr;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  
  body {
    color: white;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/0678255b-ecfd-4775-999a-0680d539f07c/015e0890-0eae-45cb-8256-3a3d36446dfe/US-en-20221128-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  }
}
