.container{
  overflow-x: hidden;
  width: 100%;
}

.notflix-sans-font-loaded {
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.enjoy {
  display: flex;
}
.tv {
  background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png");
}
  
.our-story-card-title {
  font-size: 1.75rem;
}
