.main-container {
    background: transparent;
    border-bottom: 8px solid #222;
    color: #fff;
    margin-bottom: 0;
    padding: 50px 5%;
    position: relative;
}

.background-container {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -105px;
    z-index: 0;
}

.image-wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: -70px;
}

.background-image {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transform: scale(1.25) translateY(-10%);
    width: 100%;
    color:transparent;
}

.gradient {
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.maincard-text {
    margin: 0 auto;
    max-width: 950px;
    padding: 75px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 1.625rem;
}

.email-form {
    display: flex;
    flex-direction: column;
}

.tv-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}