.wrapper {
    background-color: transparent;
    bottom:0;
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 20px;
    position: relative;
    right: 0;
    top: 0;
    transition: background-color .5s;
    width: 100%;
    z-index: 10;
}

.sub-wrapper {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    height: auto;
    justify-content: flex-start;
    padding-top: .5rem;
    position: relative;
    margin: 0 45px;
}

.separator {
    margin-right: auto;
}

.logo {
  width: 8rem;
  height: 2.75rem;
  position: relative;
}


