.tv-container {
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: black;
    padding-bottom: 50px;
}

.tv {
    position: relative;
    min-height: 398px;
    min-width: 530px;
}

.title {
    font-size: 3rem;
    font-weight: 600;
}

.subtitle {
    font-size: 1.625rem;
    font-weight: 415;
    word-wrap: normal;
}

.text-container {
    width: 25%;
    margin: -5% 0;
    margin-right: 2vw;
}

.video {
    padding-top: 50px
}